.container {
  display: flex;
  column-gap: 18px;
  margin-bottom: 24px;
  align-items: flex-end;
  padding: 16px 24px;
  border-radius: 10px;
  box-shadow: 20px 20px 60px rgba(208, 208, 208, 0.5),
    -20px -20px 60px rgba(255, 255, 255, 0.5);
  border: 1px solid #eeeeee;
  margin-bottom: 40px;
}

.label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 4px;
}
