.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 16px; /* TODO: Could be converted to a spacing var */
  row-gap: 16px;
}

@media (min-width: 480px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
