.card {
  width: 200px;
  border-radius: 10px;
  background-color: white;
  overflow: hidden; /* Fixes border radius not working on image */
}

.content {
  padding: 8px;
}

.title {
  font-weight: bold;
  margin-bottom: 16px;
  font-size: 24px;
}

.meta {
  font-size: 14px;
  color: var(--color-meta);
}

.rating {
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.star {
  margin-bottom: -2px;
  margin-right: 4px;
}

.posterContainer {
  position: relative;
}
