html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button,
input,
select {
  font-family: inherit;
}

button {
  border-radius: 10px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 20px 32px;
  line-height: 0;
  height: 56px;
}

input,
select {
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  padding: 16px 20px;
  border-width: 1px;
}

:root {
  --color-background: #f5f5f5;
  --color-meta: #cccccc;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("/fonts/RobotoCondensed-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("/fonts/RobotoCondensed-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
