.container {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.count {
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
}
